{
	email stax@lcl.leven.dev
	acme_ca https://ca.lcl.leven.dev/acme/acme/directory
	acme_ca_root /root_ca.crt
	# step-ca is not supporting that
	ocsp_stapling off
}
cloud.lcl.leven.dev {
	reverse_proxy owncloud:8080
}
